/* styles.css */

.resume-social a {
    display: inline-block;
    margin-right: 15px;
    color: #333;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

.resume-social a:hover {
    color: #FF5733;
    transform: translateY(-5px);
}